.favorit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    flex-wrap: wrap;
}

.favorits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    box-shadow: 3px 3px 3px 3px black;
    background: white;
    /* background: white; */
}


.favorits:hover{
    transition: 1.3s;
    transform: scale(1.1);
}

.favorit button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 100px;
    background: none;
    border: none;
    font-size: large;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

 

.favorit span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 1px;
}

