.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.header .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    background: black;
    color: steelblue;
    /* font-weight: bold; */
    width: 145px;
}

.header .link:hover {
   transition: 1s;
   background: steelblue;
  color: black;
}