.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather .switch-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(100% - 180px);
    width: calc(160px + 2vmin);
    background: orange;
}


.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.current-weather .city-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 10px;
}

.current-weather .city-weather span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-weather .city-weather img{
    display: flex;
    justify-content: center;
    align-items: center;
}


.current-weather .forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    flex-wrap: wrap;
}

.current-weather .forecast div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid steelblue;
    color: black;
    background: lightgray;
    margin: 5px;
    padding: 5px;
    width: calc(100px + 2vmin);
    height: calc(100px + 2vmin);
}

.weather .switch-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    flex-direction: column;
    box-shadow: 1px 1px 1px lightgray;
}

.weather input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    padding: 5px;
    height: 20px;
    width: calc(175px + 2vmin);
    height: 30px;
    border: none;

}

.weather input:focus {
    transition: 1.3s;
    width: calc(195px + 2vmin);
}

.weather input::placeholder{
    color: black;

}
.weather input:{
 
}
.weather button {
    background: steelblue;
    margin: 5px;
    padding: 5px;
    width: calc(150px + 2vmin);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.weather .cities {
    display: flex;
    position: relative;
}

.weather .city {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    padding: 5px;
    height: 20px;
    width: calc(175px + 2vmin);
    height: 30px;
    border: none;
}

.weather .city:hover {
 transition: 1s;
 background: lightgray;
}